<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ page.description | default: site.description }}">
{% unless page.description %}<meta name="robots" content="noindex">{% endunless %}
<title>{{ page.title | default: site.title }}</title>
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/assets/css/fontello.css"/>
<link rel="stylesheet" href="/assets/css/style.css"/>
<link rel="stylesheet" href="/assets/css/color.css"/>
