<aside class="about">
  <div>
    <a href="/" aria-label="Home"><img src="{{ site.about.picture.src }}" alt="{{ site.about.picture.alt }}"></a>
    <h1><a href="/">{{ site.about.name }}</a></h1>
    <p><a href="mailto:{{ site.about.email }}">{{ site.about.email }}</a></p>

  {% if site.about.icons %}
    <p class="icons">
    {% if site.about.icons.gitlab %}
      <a href="https://gitlab.com/{{ site.about.icons.gitlab }}" target="_blank" aria-label="{{ site.about.icons.gitlab }} at gitlab"><i class="icon-gitlab"></i></a>
    {% endif %}
    {% if site.about.icons.github %}
      <a href="https://github.com/{{ site.about.icons.github }}" target="_blank" aria-label="{{ site.about.icons.github }} at github"><i class="icon-github-circled"></i></a>
    {% endif %}
    {% if site.about.icons.steam %}
      <a href="https://steamcommunity.com/id/{{ site.about.icons.steam }}" target="_blank" aria-label="{{ site.about.icons.steam }} at steam"><i class="icon-steam-squared"></i></a>
    {% endif %}
    </p>
  {% endif %}
  </div>
</aside>
