body {
  margin: 0;
  font-family: $regular;
}

aside {
  height: auto;
  min-width: $break / 3;
  position: relative;
  width: 100%;
}

aside.about {
  margin: 2em 0 0;
  padding: 3em 0;
  text-align: center;

  h1 {
    font-weight: normal;
  }

  h1 a {
    text-decoration: none;
  }

  .icons {
    font-size: 1.5em;
  }
}

body > hr {
  background-color: grey;
  border: 0;
  height: 1px;
  margin: 3em auto 0;
  width: 3em;
}

aside + hr {
  margin-top: 0;
}

main {
  margin: 2em 0 3em;
  max-width: $break;
  min-width: $break / 2;
  padding: 0 1.33em 0 1em;

  h1, h2 {
    font-family: $condensed;
  }

  h1 {
    font-size: 200%;
    text-indent: -0.04em;
  }

  h2 {
    letter-spacing: 0.01em;
    text-indent: -0.01em;
  }

  img {
    max-width: 100%;
  }

  .posts {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 3em;
    }

    .meta {
      margin: -0.7em 0 -0.3em;
    }
  }
}

nav {
  ul {
    font-size: 90%;
    text-align: center;
    list-style-type: none;
    padding: 1em;
    margin: 0;
  }
}



@media screen and (min-width: $break) {
  aside {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: $break / 2.5;
  }

  aside.about {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: auto;
  }

  body > hr {
    display: none;
  }

  main {
    margin-left: $break / 2.5;
    padding: 0 1.5em;
  }

  nav {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}



@media screen and (min-width: $wide) {
  aside {
    width: $break / 2;
  }

  main {
    margin-left: $break / 2;
  }
}
