---
---

aside.about h1 a, a[href^="mailto"] {
  color: black;
} 

nav {
  a { color: black; opacity: 0.5; }
  a:hover { opacity: 1.0; }
}

aside, nav { background: rgba(255, 255, 255, 0.5); }
@media screen and (min-width: 700px){ nav { background: transparent; } }


{% for post in site.posts %}
  {% if post.color %}
    #id-{{ post.id | slugify }} a { color: {{ post.color.primary }}; }
  {% endif %}
{% endfor %}
