---
layout: index
---

{{ content }}

<ul class="posts">
{% for post in site.posts %}
  <li id="id-{{ post.id | slugify }}">
  {% if post.no-link %}
    <h2>{{ post.title }}</h2>
    <p class="meta">{{ post.date | date: "%d.%m.%y" }}</p>
    {{ post.content }}
  {% else %}
    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="meta">{{ post.date | date: "%d.%m.%y" }}</p>
    {{ post.excerpt }}
  {% endif %}
  </li>
{% endfor %}
</ul>
