---
layout: default
---

<style>
{% if page.color %}
  body { background-color: {{ page.color.secondary }}; }
  main + hr { display: none; }
{% endif %}
  aside a { opacity: 0.6; }
  aside a:hover { opacity: 1.0; }
</style>


<h1>{{ page.title }}</h1>
<p class="meta">
  {{ page.date | date: "%d.%m.%y" }}{% if page.revision %}, <em>{{ page.revision }}</em>{% endif %}
</p>

{{ content }}
